{% extends "base.html" %}

{% block content %}

<div class="cards">

    <div class="stat-card">

        <small>Clientes</small>

        <h2>50</h2>

    </div>

    <div class="stat-card">

        <small>Endpoints</small>

        <h2>2000</h2>

    </div>

    <div class="stat-card">

        <small>Alertas</small>

        <h2>143</h2>

    </div>

    <div class="stat-card">

        <small>Críticos</small>

        <h2>12</h2>

    </div>

</div>

<div class="card">

    <h3>Bem-vindo ao RMM Insight AI</h3>

    <hr>

    <p>

        O sistema foi iniciado corretamente.

    </p>

    <p>

        Nas próximas etapas esta área exibirá gráficos, histórico de alertas e análises.

    </p>

</div>

<div class="footer">

    RMM Insight AI • Versão 0.1

</div>

{% endblock %}